.heroImage {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 330px;
}

.imageWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
