.heroDescription {
    padding-top: 160px;
}

.heroImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 980px;
    height: calc(100vh - 380px);
    overflow: hidden;
}

.heroImage {
    object-fit: contain;
    height: 100%;
}
