.hero {
    padding-top: 40px;
}

.heroImage {
    width: 100%;
    min-width: 980px;
    height: calc(100vh - 430px);
    max-height: calc(100% - 100px - 140px - 50px);
    object-fit: contain;
 }

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
