.logo {
    font-size: 42px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 7px;
    letter-spacing: 1px;
}

.logoPartCar {
    font-family: 'Lobster', cursive;
    color: #121417;
}

.logoPartHire {
    font-family: 'Satisfy', cursive;
    color: #3470ff;
}

.logoIcon {
    height: 30px;
    width: 30px;
    margin: 0 7px 10px 7px;
}

.slogan {
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    color: rgba(18, 20, 23, 0.7);
}
