@import-normalize;

* {
    box-sizing: border-box;
}

body {
    cursor: default;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #121417;
    overflow-y: scroll;
}

code {
    font-family: 'Manrope', sans-serif;
}

.section {
    padding-top: 140px;
    padding-bottom: 50px;
}

.container {
    max-width: 1440px;
    min-width: 980px;
    padding: 0 50px;
    margin: 0 auto;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    font-family: inherit;
    border-radius: 12px;
    border: none;
    background: #3470ff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #0b44cd;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    color: #3470ff;
}

img {
    display: block;
}

.ant-select-selection-item {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #121417;
}

.ant-select-selection-placeholder {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.ant-select-item-option-content {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(18, 20, 23, 0.5);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    background: #f7f7fb;
}

.searchFieldBrand .ant-select-selector,
.searchFieldPrice .ant-select-selector {
    border-radius: 14px;
}

.searchFieldBrand {
    width: 224px;
    height: 48px;
    margin-right: 18px;
}

.searchFieldPrice {
    width: 125px;
    height: 48px;
    margin-right: 18px;
}

.searchFieldMileageFrom,
.searchFieldMileageTo {
    width: 160px;
    height: 48px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #121417;
    background: #f7f7fb;
    border: none;
}

.searchFieldMileageFrom:hover,
.searchFieldMileageFrom:focus,
.searchFieldMileageTo:hover,
.searchFieldMileageTo:focus {
    background: #f7f7fb;
}

.searchFieldMileageFrom {
    border-radius: 14px 0 0 14px;
    border-right: 1px solid #d3d3d3;
}

.searchFieldMileageTo {
    border-radius: 0 14px 14px 0;
}

.searchFieldMileageFrom:hover,
.searchFieldMileageFrom:focus {
    border-right: 1px solid #d3d3d3;
}

.searchFieldMileageFrom::placeholder,
.searchFieldMileageTo::placeholder {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(18, 20, 23, 0.5);
}
